<!DOCTYPE html>
<html>
  <head>
    <style>
      html, body, iframe {
        height: 100%;
        width: 100%;
        border: none;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <iframe src="<%= url %>">
  </body>
</html>