name: 构建插件
on:
  release:
    types:
      - created

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Global Dependencies
        run: |
          npm install pnpm asar -g

      - name: Asar
        run: |
          pnpm install --frozen-lockfile --prod --shamefully-hoist
          pnpm run build:asar

      - name: NPM Install
        run: |
          pnpm install --frozen-lockfile

      - name: Build
        run: |
          pnpm run build

      - name: Deploy
        uses: lannonbr/vsce-action@3.0.0
        with:
          args: "publish -p $VSCE_TOKEN --no-dependencies"
        env:
          VSCE_TOKEN: ${{ secrets.VSCE_TOKEN }}
